<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@ 100, 200, 300, 400, 700&family=Titillium+Web:ital,wght@100,200, 300, 400, 700&display=swap');
</style>

*{
    margin: 0;
    Padding: 0;
    *box-sizing: border-box;
}


h2{
    font-family: 'poppins', sans-serif;
    color: white;

}

.h6{
    font-family: 'Titillium Web', sans-serif;
}

body{
    background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
    /*background: linear-gradient(to right, silver, cornsilk, silver);*/
    background-size: cover;
    animation: animateBackground 10s ease-in-out infinite;

}

@keyframes animatebackground {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

.card-body{
    width: 20rem;
    background: whitesmoke;
    color: black;
    font-weight: 400;
}

.card-container{
    display: flex;
   flex-wrap: wrap;
    overflow: auto;
    justify-content: center;
    margin: auto;
    padding-bottom: 10px;
    width: 100%;
    height: auto;
}

.card{
    margin: 3px;
}

#input{
    display: flex;
    justify-content: end;

}




button{
    background-color: #FCAA43;
}

